
*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
  background-color: #5BA3D6;
  color:white;
  font-family:Arial sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
  text-transform: uppercase;
}

.column1{
  float: left;
   width: 33%;
   }

.column2{
 display: inline-block;
 width: 33%;
 }

.column3{
  float: right;
  width: 33%;
  }

input,
textarea,
select{
  background-color:#5BA3D6;
  border-color:white;
  color:white;
  width:85%;
  border: 1.5px solid white;
}

select{
  border-color:#A0A5A9;
}


/* @media (max-width: 839px) and (min-width: 500px){
   form{
     mobile */
@media (max-width:499px) {
  .form{
    background-color:red;
    width:99%;
    display:block;
}
}
